.btn {
  padding: 10px 20px;
  color: #eeee;
  border: none;
  border-radius: 15px;
}

.year_container {
  h1 {
    margin-bottom: 10px;
    text-align: center;
  }

  .select_group {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  select {
    padding: 5px 15px;
    border-radius: 10px;
  }
}
